/* @keyframes burning {
  0% {
    transform: translateY(0);
    box-shadow: 0 0 20px rgba(255, 0, 228, 0.5);
  }
  50% {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 0, 228, 0.8);
  }
  100% {
    transform: translateY(0);
    box-shadow: 0 0 20px rgba(255, 0, 228, 0.5);
  }
}

.animated {
  animation: burning 2s ease-in-out infinite, neon-glow 1s ease-in-out infinite;
}

@keyframes neon-glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 228, 0.5),
                0 0 20px rgba(255, 0, 228, 0.5),
                0 0 30px rgba(255, 0, 228, 0.5),
                0 0 40px rgba(255, 0, 228, 0.5),
                0 0 70px rgba(255, 0, 228, 0.5),
                0 0 80px rgba(255, 0, 228, 0.5),
                0 0 100px rgba(255, 0, 228, 0.5),
                0 0 150px rgba(255, 0, 228, 0.5);
  }
  50% {
    text-shadow: 0 0 5px rgba(255, 0, 228, 0.8),
                0 0 10px rgba(255, 0, 228, 0.8),
                0 0 15px rgba(255, 0, 228, 0.8),
                0 0 20px rgba(255, 0, 228, 0.8),
                0 0 35px rgba(255, 0, 228, 0.8),
                0 0 40px rgba(255, 0, 228, 0.8),
                0 0 50px rgba(255, 0, 228, 0.8),
                0 0 75px rgba(255, 0, 228, 0.8);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 0, 228, 0.5),
                0 0 20px rgba(255, 0, 228, 0.5),
                0 0 30px rgba(255, 0, 228, 0.5),
                0 0 40px rgba(255, 0, 228, 0.5),
                0 0 70px rgba(255, 0, 228, 0.5),
                0 0 80px rgba(255, 0, 228, 0.5),
                0 0 100px rgba(255, 0, 228, 0.5),
                0 0 150px rgba(255, 0, 228, 0.5);
  }
} */
.floating-photo-container {
  animation: float 3s infinite cubic-bezier(0.36, 0.45, 0.63, 0.53);
}

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -8px);
  }
}
